@{
    ViewBag.Title = "首页";

}
@model List<User>

<table class="table">
    <tr>
        <th>ID</th>
        <th>用户名</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserId</td>
            <td>@item.UserName</td>
            <td><a href="/home/detail/@item.UserId">详情</a></td>
        </tr>  
    }
</table>
